# Python Bytecode & Caches
__pycache__/
*.py[cod]
*$py.class

# macOS metadata files
._*
.DS_Store

# PyInstaller Build Artifacts
build/
dist/
*.spec

# KiCad Lock files
*.lck

# Logs & Output Test Files
*.log
output_plan.json
test_plan.json
