# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller build artifacts
build/
dist/
*.spec

# macOS system files
._*
.DS_Store

# Virtual environments
venv/
env/
ENV/
